//Colors

//Primary

$Bright-Blue: #3a7bfd;
$Check-Background: linear-gradient(to right bottom, rgb(87, 221, 255), rgb(192, 88, 243));

//Neutral

//Light Theme

$Very-Light-Gray: hsl(0, 0%, 98%);
$Very-Light-Grayish-Blue: rgb(228, 229, 241);
$Light-Grayish-Blue: rgb(210, 211, 219);
$Dark-Grayish-Blue: #9394a5;
$Very-Dark-Grayish-Blue: rgb(72, 75, 106);

//Dark Theme

$Very-Dark-Blue: rgb(22, 23, 34);
$Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
$Light-Grayish-Blue: hsl(234, 39%, 85%);


// (hover)
$Light-Grayish-Blue: hsl(236, 33%, 92%);
$Dark-Grayish-Blue: hsl(234, 11%, 52%);
$Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
$Very-Dark-Grayish-Blue2: hsl(237, 14%, 26%);